extends layout

block content
  h3 Chat
  .container
    .col-12.col-lg-8.offset-lg-2 
      .row
        #chat.card.text-dark.bg-light 
      .row.justify-content-center    
        form.row#form(action="/chat", method="post") 
          .col-10
            input#inputMsg.form-control(type="text" name="msg")
          .col-2
            button#send.btn.btn-primary(type="submit") >>
      
