extends layout.pug

block content
  .container
    .col-12.col-lg-8.offset-lg-2 
      .row
        .card.text-dark.bg-light 
          #chat
          
          img.btn.btn-primary#btnDown(src="/images/rowdown.svg"  onclick="goDown()") 
      .row.justify-content-center    
        .col-10
          input#inputMsg.form-control(type="text" name="msg")
        .col-2
          img.btn.btn-primary(src="/images/row.svg" alt="50" width='50' height='34' onclick="sendMSG()")
  
      
  script(src='/javascripts/index.js') 