doctype html
html
  head
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title Local Chat
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel="icon", href="/images/logo.svg")
    script(src='/javascripts/utils.js') 
  body
    nav.navbar.navbar-light.bg-light
      .container
        a.navbar-brand(href='#')
          img(src='/images/logo.svg' alt='' width='50' height='34') 
          strong  Local Chat
            
    block content
  
  script(src='/js/jquery.min.js')
  link(src='/js/popper.js')
  script(src='/js/bootstrap.min.js')