body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h3{
  padding-top: 20px;
  text-align: center;
  
}
.card{
  height: 500px; 
  overflow: auto;
  
  padding-left: 30px;
  width: 100%;
  position: relative;
}
.row
{
  padding-top: 10px;
}
